.post-experience-persona #content h2 {font-size: 2em; border-bottom: 3px solid #ddd; border-top: 0; margin-bottom: 1em; color: #04233F; margin-top: 0; padding-top: 0;}

.post-experience-persona #content h3, .post-experience-persona h4 {
  color: #174884; 
  font-size: 1.6em; 
  border-top: 5px solid #222; 
  padding: .35em 0; 
  display: block;
  margin-top: 1.4em;
}

.post-experience-persona #content img {width: 100%;}

.post-experience-persona h4 {font-size: 1em; color: #04233F; border-top: none; margin-bottom: 0; padding: 0; margin: 0;}

.post-experience-persona #content h3:first-child {margin-top: 0;}

.post-experience-persona #content h4 { padding-bottom: .3em; margin-bottom: .5em; border-bottom: 1px solid #555; text-transform: uppercase; letter-spacing: 1.5px;  }
.post-experience-persona .traits { text-transform: uppercase; }
.post-experience-persona .traits li em { text-transform: none; color: black; }
.post-experience-persona .copy_examples li { list-style: none; border-bottom: 1px solid #000; padding: 10px; margin: 0; padding-left: 0; }
.post-experience-persona .copy_examples li strong { display: block; clear: both; }


.post-experience-persona .eight-col ul {margin: 0;}
.post-experience-persona .eight-col ul li {border-bottom: 1px solid #444; list-style: none; margin: 0; padding: 1em 0; text-transform: none; color: #04233F; }
.post-experience-persona .eight-col ul li:last-child {border-bottom: none; }

.post-experience-persona .eight-col ul li em {text-transform: none; color: #444;}

.post-experience-persona .eight-col ul li strong {display: block; text-transform: none;}
