/*** PIF Blog Template ***/


/* _________________________________________________
320 and Up boilerplate extension
Andy Clarke http://about.me/malarkey
Version: 2
URL: http://stuffandnonsense.co.uk/projects/320andup/
License: http://creativecommons.org/licenses/MIT/
_____________________________________________________*/

/*** Reset CSS - Eric Meyer ***/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code,del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var,dl, dt, dd, ol, ul, li, fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td {margin: 0; padding: 0; border: 0; outline: 0;font-weight: inherit; font-style: inherit; font-size: 100%; font-family: inherit; vertical-align: baseline;}
body {line-height: 1;color: black; background: #fff;}
ol, ul {list-style: none;}
table {border-collapse: separate; border-spacing: 0;}
caption, th, td {text-align: left; font-weight: normal;}
blockquote:before, blockquote:after, q:before, q:after {content: "";}
blockquote, q {quotes: "" "";}

/* prevent BG image flicker upon hover */
html.ie6 {filter: expression(document.execCommand("BackgroundImageCache", false, true));}

/*** Clearing Floats - Dan Cederholm ***/
.group:after, #primarycontent:after {
  content: ".";
  display: block;
  height: 0;
  overflow: hidden; /* My addition. Not sure it's a good idea, but there you go. */
  clear:both;
  visibility: hidden;
}

.groupleft:after {
  content: ".";
  display: block;
  height: 0;
  clear:left;
  visibility: hidden;
}

.groupright:after {
  content: ".";
  display: block;
  height: 0;
  clear:right;
  visibility: hidden;
}


/*** Mobile ***/

/*** Boilerplate Styling ***/
button,input,select,textarea {font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; color: #404040;}

h1,h2,h3,h4,h5,h6 {
  font-weight: normal;
  color: #333;
  padding: 0;
  line-height: 1.3em;
  font-family: Georgia, 'Times New Roman', serif;
  margin-bottom: .5em;
}

h1 {font-size: 1.6em;}
h2 {font-size: 1.4em;}
h3 {font-size: 1.3em;}
h4 {font-size: 1.2em;}
h5 {font-size: 1.1em;}
h6 {font-size: 1em;}

h3 {padding: 0; margin: 0 0 .25em 0;}
p,ol,ul,dl,address {margin-bottom: 1.5em; font-size: 16px; font-size: .9em;}
p {line-height: 1.35em; text-shadow: 0 1px 0 rgba(255,255,255,.9);}
ul, ol {margin: .5em 0 1.5em 0; padding: 0;}
ol {margin: 1em 1em 1em .85em;}

li ul, li ol {
  margin: 0;
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 1.6em;
  padding: 1em 0;
  display: block;
}

ul li, ol li  {
  padding: 0 0 .75em 0;
  line-height: 1.4em;
  margin-left: 1.1em;
  list-style: square;
  list-style-position: outside;
}

ol li {list-style-type: decimal; text-align: left;}
dl, dd {margin-bottom: .75em; font-size: 1em;}

dt {
  font-size: 1em;
  font-weight: normal;
  font-family: "JunctionRegular", "Helvetica Nueue", Helvetica, Arial, sans-serif; 
  font-weight: 200;
}

blockquote {margin: 0 0 1.5em -24px; padding-left: 24px; font-style: italic;}
blockquote:before,blockquote:after,q:before,q:after {content: '';content: none;}
abbr[title] {cursor: help;}
b, strong {font-weight: bold;}

hr {
  display: block;
  margin: 1em 0;
  padding: 0;
  height: 1px;
  border: 0;
  border-top: 1px solid #bfbfbf;
}

pre {white-space: pre;  white-space: pre-wrap;  word-wrap: break-word;}
q {quotes: none;}
q:before, q:after {content: "";content: none;}
small {font-size: 14px;font-size: 1.4rem;}
sub, sup {
  font-size: 12px;
  font-size: 1.2rem;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {top: -0.5em;}
sub {bottom: -0.25em;}


a:focus {outline: thin dotted; color: #ccc;}
a:hover, a:active {outline: 0;}
figure {margin-bottom: 1.5em;}

table {
  border-collapse: collapse;
  border-spacing: 0;
  margin-bottom: 1.5em;
  width: 100%;
  font-size: 14px;
  font-size: 1.4rem;
  border: 1px solid #ccc;
}

table caption {padding: .5em 0; font-size: 1.1em; color: #003a67;}
td, th {padding: .75em;}
tr {border-bottom: 1px solid #ccc;}
th {background: #194b80; color: #fff;}

tfoot {font-style: italic;}
caption {background-color: transparent;}
form {margin: 0;}

fieldset {
  margin-bottom: 1.5em;
  padding: 0;
  border-width: 0;
}

legend {border-width: 0;}

label {font-weight: normal;cursor: pointer;}

button, input, select, textarea {font-size: 12px; font-size: 1.2rem; margin: 0; vertical-align: baseline; *vertical-align: middle;}
button, input {line-height: normal; *overflow: visible;}
button,input[type="button"], input[type="reset"], input[type="submit"] {cursor: pointer;}
input[type="checkbox"], input[type="radio"] {box-sizing: border-box;}
input[type="search"] {box-sizing: content-box;}

button::-moz-focus-inner, input::-moz-focus-inner {padding: 0;border: 0;}
textarea {overflow: auto;vertical-align: top;}

html {
  -webkit-overflow-scrolling: touch;
  -webkit-tap-highlight-color: #003a67;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

::-webkit-selection {background: #003a67; color: #fff; text-shadow: none;}
::-moz-selection {background: #003a67; color: #fff; text-shadow: none;}
::selection {background: #194b80; color: #fff; text-shadow: none;}
button,input[type="button"], input[type="reset"], input[type="submit"] {-webkit-appearance: button;}
::-webkit-input-placeholder {font-size: 14px;}
input:-moz-placeholder {font-size: 14px;}

/*
.ie7 img, .iem7 img {-ms-interpolation-mode: bicubic;}
*/
input[type="checkbox"], input[type="radio"] {box-sizing: border-box;}
input[type="search"] {-webkit-box-sizing: content-box; -moz-box-sizing: content-box;}
button::-moz-focus-inner, input::-moz-focus-inner {padding: 0;border: 0;}

.hidden {display: none;visibility: hidden;}

/*** End of Boiler plate / 320 and Up ***/

/*** Overall ***/

html {
  height: 100%;
  background: #0C223F; 
}

body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  background: #0C223F;
  margin: 0;
  padding: 0;
  text-align: center;
}

header {padding-bottom: 1.75em;}

header h1 a {
  display: block;
  font-weight: 100;
  font-size: 1.9em;
  font-weight: normal;
  padding: .6em 0 0 0;
  text-decoration: none;
  text-indent: -999em;
  height: 70px;
  margin: 0 auto;
  text-align: center;
  background: url(../images/design/h1.png) top center no-repeat;
}

header h1 a:hover, header h1 a:active {text-decoration: none; color: #457DB3;}
header h2.tagline {padding-bottom: .4em; font-size: 1em; display: block; }

header h2.tagline {
  padding: 0; 
  margin: 0; 
  text-transform: uppercase; 
  font-family: Georgia, 'Times New Roman', serif; 
  color: #58585B; 
  font-size: .9em;
  font-weight: normal;
  font-weight: 100;
  text-align: center;
  letter-spacing: 1px;
}

header h2.organization {
  padding: .75em 0; 
  display: block; 
  text-transform: uppercase; 
  color: #BE8B40; 
  border-top: 1px solid #eee;  
  font-size: .75em; 
  font-family: Helvetica, Arial, sans-serif; 
  letter-spacing: 2px;
  width: 95%; 
  text-align: center;
  margin: .75em auto;
}

/*** Core Link Styles ***/
a {color: #0A2140; text-decoration: underline;}
a:active {color: #457DB3;}
a:hover {color: #555; background: #eee;}
a:visited {color: #555;}

.contentarea {margin: 0 4%;}

ul.page-list {
  width: 100%;
  display: block;
  text-align: right;
}

/*** Arrow! - Hat tip Adam Darowski, http://tech.patientslikeme.com/2010/11/09/using-borders-to-make-pure-css-arrows/ ***/

div.arrow {
  position: absolute;
  top: 8px;
  right: 0;
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  border-right: 6px solid #fff;
  border-left: 6px solid transparent;
}

#wrapper li, #wrapper, #wrapper p {text-align: left;}

.addthis_toolbox { margin-bottom: 15px; }

.post-meta, .post-taxonomies {
  font-size: .8em; 
  color: #555;
  padding-bottom: 1.5em;
}

.post-meta {border-bottom: 1px solid #eee; padding: 0 0 .5em 0; margin-bottom: 1em; display: block;}
.post-taxonomies {border-top: 1px solid #eee; padding-top: .5em;}
.sidebar {font-size: .9em; color: #454545;}

/************************************************************************************
NAV
*************************************************************************************/

#nav-wrap {
	margin-top: 196px;
}

/* menu icon */
#menu-icon {
	display: none; /* hide menu icon initially */
}

#nav, 
#nav li {
	margin: 0;
	position: relative;
	padding: 0 30px 0 0;
}

#nav li span {padding-right: 10px; display: block; z-index: 400;}
.wrapper #nav ul {margin: 0; padding: 0; border: 1px solid red;}

#nav li {
	list-style: none;
	margin-right:0;
	display: block;
	width: 100%;
	padding: 0;
	margin: 0;
}

/* nav link */
#nav a {
	padding: 4px 20px 4px 0;
	display: block;
	color: #fff;
	font-size: .8em;
	display: block;
	text-transform: uppercase;

}
#nav a:hover {
  text-decoration: none;
  background: none;
  color: rgba(255,255,255,.75);
}

/* nav dropdown */
#nav ul {
	background: #fff;
	position: absolute;
	border: solid 1px #ccc;
	display: none; /* hide dropdown */

}
#nav ul li {
	float: none;
	margin: 0;
	padding: 0;
}
#nav li:hover > ul {
	display: block; /* show dropdown on hover */
}


/*** Ribbon ***/

img.ribbon {
  position: absolute; 
  top: 0; 
  right: 0; 
  border: 0;
}

/*** Search Form ***/

form#search_form {
  margin-bottom: 1em;
  border-bottom: 1px solid #ddd;
  padding-bottom: 1em;
}

form#search_form h4 {font-size: 1em;}
form#search_form input[type="search"] {margin: 0 .5em 0 0; padding: 0;  display: inline-block;}
form#search_form input[type="submit"] { margin: .25em 0 0 0; display: inline-block; }

/*** Article ***/

article {display: block; clear: both;}

/************************************************************************************
MOBILE
*************************************************************************************/

@media screen and (max-width: 800px) {

  .sidebar {border-top: 2px solid #0A2240; padding-top: 1em;}

  #content .alignleft {display: block; float: none; width: 50%; margin-bottom: 1em;
  }

  span.line {
    background: #fff;
    height: 4px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 12px;
    display: block;
    margin: 2px 0 4px;
  }
 
  .icon {
    height: 2em;
    width: 1.6em;
    position: absolute;
    left: 0;
    margin: -.2em 0 0 .5em;
  }

  .arrow {display: none;}
  
	/* nav-wrap */
	#nav-wrap {
		position: relative;
	}

	#nav-wrap {
  	margin-top: 0;
	}

	/* menu icon */
	#menu-icon {
		color: #fff;
		text-shadow: 0 1px 0 rgba(0,0,0,.3);
		width: 3em;
		border-radius: .35em;
		height: 30px;
		position: relative;
		background: rgba(255,255,255,.25);
		padding: 8px 10px 0 42px;
		cursor: pointer;
		margin: .4em .4em 0 .4em;
		display: block; /* show menu icon */
	}
	
	#menu-icon a {padding-top: 1em;}
	
	#menu-icon:hover, #menu-icon:active {
		background: #536479;
	}
	#menu-icon.active {
		background: #536479;
	}
	
	/* main nav */
	#nav {
		clear: both;
		position: absolute;
		top: 38px;
		width: 96.5%;
		z-index: 10000;
		display: block;
		background: #0A2240;;
		padding: 1em 2%;
		display: none; /* visibility will be toggled with jquery */
	}
	
	img.ribbon {display: none;}
	
	#nav li {
		clear: both;
		float: none;
		margin: 0;
		display: block;
		width: 100%;
		clear: both;
		text-align: left;
		padding: .5em 0;
		overflow-x: hidden;
		background: #0A2240;
		border-bottom: 1px solid rgba(255,255,255,.1);
	}
		
	.wrapper #nav ul.page-list li {width: 100%; }
	
	#nav a, 
	#nav ul a {
		font: inherit;
		background: none;
		display: inline;
		padding: 0 0;
		color: #fff;
		 background: #0A2240;
		width: 100%;
		display: block;
		border: none;
	}
	#nav a:hover, 
	#nav ul a:hover {
		background: none;
		color: #fff;
		text-decoration: underline;
	}
	
	/* dropdown */
	#nav ul {
		width: auto;
		position: static;
		display: block;
		border: none;
		background: inherit;
	}
	#nav ul li {
		margin: 3px 0 3px 0;
	}

}

@media screen and (min-width: 800px) {

	/* ensure #nav is visible on desktop version */
	#nav {
		display: block !important;
	}

}

header ul.page-list li {
  list-style: none;
  display: inline-block;
  border-right: 1px solid rgba(0,0,0,.1);
  border-left: 1px solid rgba(255,255,255,.1);
  margin: 0;
  text-align: right;
  padding: 0;
}


ul.page-list li:first-child {border-left: none;}
ul.page-list li a {display: block; padding: .3em 0; margin: 0; text-decoration: none;}
ul.page-list li a:hover {background: rgba(255,255,255,.5);}

footer {
  text-align: center;
  clear: both;
  padding: 1em 0;
  background: transparent url(../images/design/shadow.png) top center no-repeat;
  display: block;
  width: 100%;
  margin-top: 1.5em 0;
}

footer a {text-decoration: none;}

footer .inner-footer {
  clear: both; 
  width: 100%;
  display: block;
  margin-top: 1em;
}

#wrapper footer p.source {
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #777;
  font-size: .7em;
  text-align: center;
}

.main {background: #fff;}
.navfixed {position: fixed; top: 0;}


#wrapper .thumbnail-group {
  display: block;
  width: 100%;
}

#wrapper .thumbnail-group:after {
  content: ".";
  display: block;
  height: 0;
  overflow: hidden; /* My addition. Not sure it's a good idea, but there you go. */
  clear:both;
  visibility: hidden;
}

#wrapper .thumbnail-group a {display: inline-block; border: 3px solid #ccc; margin: 0 1em 1em 0; float: left; opacity: .9;}
#wrapper .thumbnail-group a:hover {opacity: 1; -webkit-box-shadow: 0 0 3px rgba(0,0,0,.2);}

#wrapper .thumbnail-group p {font-size: .85em; color: #555; font-style: italic; clear: both; display: block; width: 100%;}

#wrapper .thumbnail-group em {clear: both; display: block; margin-top: .5em;}

.readon a {font-weight: normal; font-style: normal; color: #555;}

/*** Desktop ***/

@media screen and (min-width: 800px) {

header h2.organization {width: 55%;}

/*** Grid ***/

/* 
========================
  GRIDINATOR CSS v0.4.1
  http://gridinator.com/
  
  GRIDINATOR CSS is a very basic framework to create
  grid-based layouts. The content of this file is 
  provided as-is, without support.
  
  If you would like to contact GRIDINATOR to suggest
  improvements, to ask for help or to file a bug report, 
  please feel free to email: gridinator@steff.me
  
  Your grid settings:
  	columns: 12
  	column width: 70px
  	column margin: 14px
  	container margin: 20px
    
=========================
*/

.wrapper, header {
	margin: 0 auto; /* This centers the grid. Remove this line to place the grid on the left of the page. */
	text-align: left;
	max-width: 1074px;
}

.wrapper {
	margin: 0 auto; /* This centers the grid. Remove this line to place the grid on the left of the page. */
	text-align: left;
	max-width: 1452px;
	min-width: 800px;
	
	background: rgb(255,255,255); /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPHJhZGlhbEdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgY3g9IjUwJSIgY3k9IjUwJSIgcj0iNzUlIj4KICAgIDxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjZTVlNWU1IiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L3JhZGlhbEdyYWRpZW50PgogIDxyZWN0IHg9Ii01MCIgeT0iLTUwIiB3aWR0aD0iMTAxIiBoZWlnaHQ9IjEwMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 0%, rgba(229,229,229,1) 100%); /* FF3.6+ */
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(229,229,229,1))); /* Chrome,Safari4+ */
background: -webkit-radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* Opera 12+ */
background: -ms-radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* IE10+ */
background: radial-gradient(ellipse at center,  rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=1 ); /* IE6-8 fallback on horizontal gradient */

	
}

.inner-wrapper {
	clear: both;
	display: block;/* IE double margin fix. Feel free to move this to your IE specific stylesheets. */
	float: left;
	padding: 0 4% 0 4%;
	position: relative;
	width: 92%;
	text-align: left;
}

.container {
	clear: both;
	float: left;
	margin: 0;
	width: 100%;	
}

.one-col, .two-col, .three-col, .four-col, .five-col, .six-col, .seven-col, .eight-col, .nine-col, .ten-col, .eleven-col, .twelve-col, .thirteen-col, .fourteen-col, .fifteen-col, .sixteen-col {
	clear: none;
	display: inline;
	float: left;
	text-align: left;
	margin-right:1.31005%;
	/* overflow:hidden; */
	padding: 0;
	position: relative;
}

.two-col.navigation {margin: 0; padding: 0; width: 12.66376%;}

 .one-col {width: 5.02183%;}
.two-col {width: 11.35371%;}
.three-col {width: 17.68558%;}
.four-col {width: 24.01746%;}
.five-col {width: 30.34934%;}
.six-col {width: 36.68122%;}
.seven-col {width: 43.0131%;}
.eight-col {width: 49.34497%;}
.nine-col {width: 55.67685%;}
.ten-col {width: 62.00873%;}
.eleven-col {width: 68.34061%;}
.twelve-col {width: 74.67248%;}
.thirteen-col {width: 81.00436%;}
.fourteen-col {width: 87.33624%;}
.fifteen-col {width: 93.66812%;}
.sixteen-col {width: 100%;margin-right: 0;}
 .sixteen-col .one-col {width: 5.02183%; margin-right: 1.31004%;}
.sixteen-col .two-col {width: 11.35371%; margin-right: 1.31004%;}
.sixteen-col .three-col {width: 17.68558%; margin-right: 1.31004%;}
.sixteen-col .four-col {width: 24.01746%;margin-right: 1.31004%;}
.sixteen-col .five-col {width: 30.34934%;	margin-right: 1.31004%;}
.sixteen-col .six-col {width: 36.68122%; margin-right: 1.31004%;}
.sixteen-col .seven-col {width: 43.0131%;	margin-right: 1.31004%;}
.sixteen-col .eight-col {width: 49.34497%; margin-right: 1.31004%;}
.sixteen-col .nine-col {width: 55.67685%;	margin-right: 1.31004%;}
.sixteen-col .ten-col {width: 62.00873%; margin-right: 1.31004%;}
.sixteen-col .eleven-col {width: 68.34061%;	margin-right: 1.31004%;}
.sixteen-col .twelve-col {width: 74.67248%;	margin-right: 1.31004%;}
.sixteen-col .thirteen-col {width: 81.00436%;	margin-right: 1.31004%;}
.sixteen-col .fourteen-col {width: 87.33624%;	margin-right: 1.31004%;}
.sixteen-col .fifteen-col {width: 93.66812%; margin-right: 1.31004%;}
.sixteen-col .sixteen-col {width: 100%;	margin-right: 0;}
.fifteen-col .one-col {width: 5.3613%; margin-right: 1.3986%;}
.fifteen-col .two-col {width: 12.12121%;	margin-right: 1.3986%;}
.fifteen-col .three-col {width: 18.88111%;	margin-right: 1.3986%;}
.fifteen-col .four-col {width: 25.64102%;	margin-right: 1.3986%;}
.fifteen-col .five-col {width: 32.40093%;	margin-right: 1.3986%;}
.fifteen-col .six-col {width: 39.16083%;	margin-right: 1.3986%;}
.fifteen-col .seven-col {width: 45.92074%;	margin-right: 1.3986%;}
.fifteen-col .eight-col {width: 52.68065%;	margin-right: 1.3986%;}
.fifteen-col .nine-col {width: 59.44055%;	margin-right: 1.3986%;}
.fifteen-col .ten-col {width: 66.20046%;	margin-right: 1.3986%;}
.fifteen-col .eleven-col {width: 72.96037%;	margin-right: 1.3986%;}
.fifteen-col .twelve-col {width: 79.72027%;	margin-right: 1.3986%;}
.fifteen-col .thirteen-col {width: 86.48018%;	margin-right: 1.3986%;}
.fifteen-col .fourteen-col {width: 93.24009%;	margin-right: 1.3986%;}
.fifteen-col .fifteen-col {width: 100%;	margin-right: 0;}
.fourteen-col .one-col {width: 5.75%;	margin-right: 1.5%;}
.fourteen-col .two-col {width: 13%;	margin-right: 1.5%;}
.fourteen-col .three-col {width: 20.25%; margin-right: 1.5%;}
.fourteen-col .four-col {width: 27.5%;	margin-right: 1.5%;}
.fourteen-col .five-col {width: 34.75%;	margin-right: 1.5%;}
.fourteen-col .six-col {width: 42%;	margin-right: 1.5%;}
.fourteen-col .seven-col {width: 49.25%; margin-right: 1.5%;}
.fourteen-col .eight-col {width: 56.49999%;	margin-right: 1.5%;}
.fourteen-col .nine-col {width: 63.74999%;	margin-right: 1.5%;}
.fourteen-col .ten-col {width: 71%;	margin-right: 1.5%;}
.fourteen-col .eleven-col {width: 78.25%;	margin-right: 1.5%;}
.fourteen-col .twelve-col {width: 85.5%;	margin-right: 1.5%;}
.fourteen-col .thirteen-col {width: 92.75%;	margin-right: 1.5%;}
.fourteen-col .fourteen-col {width: 100%;	margin-right: 0;}
.thirteen-col .one-col {width: 6.19946%; margin-right: 1.61725%;}
.thirteen-col .two-col {width: 14.01617%;	margin-right: 1.61725%;}
.thirteen-col .three-col {width: 21.83288%;	margin-right: 1.61725%;}
.thirteen-col .four-col {	width: 29.64959%;	margin-right: 1.61725%;}
.thirteen-col .five-col {width: 37.4663%;	margin-right: 1.61725%;}
.thirteen-col .six-col {width: 45.28301%;	margin-right: 1.61725%;}
.thirteen-col .seven-col {width: 53.09973%;	margin-right: 1.61725%;}
.thirteen-col .eight-col {width: 60.91644%;	margin-right: 1.61725%;}
.thirteen-col .nine-col {width: 68.73315%;	margin-right: 1.61725%;}
.thirteen-col .ten-col {width: 76.54986%;	margin-right: 1.61725%;}
.thirteen-col .eleven-col {width: 84.36657%;	margin-right: 1.61725%;}
.thirteen-col .twelve-col {width: 92.18328%;	margin-right: 1.61725%;}
.thirteen-col .thirteen-col {width: 100%;	margin-right: 0;}
.twelve-col .one-col {width: 6.72514%;	margin-right: 1.75438%;}
.twelve-col .two-col {width: 15.20467%;	margin-right: 1.75438%;}
.twelve-col .three-col {width: 23.68421%;	margin-right: 1.75438%;}
.twelve-col .four-col {width: 32.16374%;	margin-right: 1.75438%;}
.twelve-col .five-col {width: 40.64327%;	margin-right: 1.75438%;}
.twelve-col .six-col {width: 49.1228%; margin-right: 1.75438%;}
.twelve-col .seven-col {width: 57.60233%;	margin-right: 1.75438%;}
.twelve-col .eight-col {width: 66.08187%;	margin-right: 1.75438%;}
.twelve-col .nine-col {width: 74.5614%;	margin-right: 1.75438%;}
.twelve-col .ten-col {width: 83.04093%;	margin-right: 1.75438%;}
.twelve-col .eleven-col {width: 91.52046%;	margin-right: 1.75438%;}
.twelve-col .twelve-col {width: 100%;	margin-right: 0;}
.eleven-col .one-col {width: 7.34824%;	margin-right: 1.91693%;}
.eleven-col .two-col {width: 16.61341%;	margin-right: 1.91693%;}
.eleven-col .three-col {width: 25.87859%;	margin-right: 1.91693%;}
.eleven-col .four-col {width: 35.14376%;	margin-right: 1.91693%;}
.eleven-col .five-col {width: 44.40894%;	margin-right: 1.91693%;}
.eleven-col .six-col {width: 53.67412%;	margin-right: 1.91693%;}
.eleven-col .seven-col {width: 62.93929%;	margin-right: 1.91693%;}
.eleven-col .eight-col {width: 72.20447%;	margin-right: 1.91693%;}
.eleven-col .nine-col {width: 81.46964%;	margin-right: 1.91693%;}
.eleven-col .ten-col {width: 90.73482%;	margin-right: 1.91693%;}
.eleven-col .eleven-col {width: 100%;	margin-right: 0;}
.ten-col .one-col {width: 8.09859%;	margin-right: 2.11267%;}
.ten-col .two-col {width: 18.30985%;	margin-right: 2.11267%;}
.ten-col .three-col {width: 28.52112%;	margin-right: 2.11267%;}
.ten-col .four-col {width: 38.73239%;	margin-right: 2.11267%;}
.ten-col .five-col {width: 48.94366%;	margin-right: 2.11267%;}
.ten-col .six-col {width: 59.15492%;	margin-right: 2.11267%;}
.ten-col .seven-col {width: 69.36619%;	margin-right: 2.11267%;}
.ten-col .eight-col {width: 79.57746%;	margin-right: 2.11267%;}
.ten-col .nine-col {width: 89.78873%;	margin-right: 2.11267%;}
.ten-col .ten-col {width: 100%;	margin-right: 0;}
.nine-col .one-col {width: 9.0196%;	margin-right: 2.35294%;}
.nine-col .two-col {width: 20.39215%;	margin-right: 2.35294%;}
.nine-col .three-col {width: 31.7647%; margin-right: 2.35294%;}
.nine-col .four-col {width: 43.13725%;	margin-right: 2.35294%;}
.nine-col .five-col {width: 54.5098%;	margin-right: 2.35294%;}
.nine-col .six-col {width: 65.88235%;	margin-right: 2.35294%;}
.nine-col .seven-col {width: 77.2549%;	margin-right: 2.35294%;}
.nine-col .eight-col {width: 88.62745%;	margin-right: 2.35294%;}
.nine-col .nine-col {width: 100%;	margin-right: 0;}
.eight-col .one-col {width: 10.17699%;	margin-right: 2.65486%;}
.eight-col .two-col {width: 23.00884%; margin-right: 2.65486%;}
.eight-col .three-col {width: 35.8407%; margin-right: 2.65486%;}
.eight-col .four-col {width: 48.67256%;	margin-right: 2.65486%;}
.eight-col .five-col {width: 61.50442%;	margin-right: 2.65486%;}
.eight-col .six-col {width: 74.33628%;	margin-right: 2.65486%;}
.eight-col .seven-col {width: 87.16814%;	margin-right: 2.65486%;}
.eight-col .eight-col {width: 100%;	margin-right: 0;}
.seven-col .one-col {width: 11.67512%;	margin-right: 3.04568%;}
.seven-col .two-col {width: 26.39593%;	margin-right: 3.04568%;}
.seven-col .three-col {width: 41.11675%;	margin-right: 3.04568%;}
.seven-col .four-col {width: 55.83756%;	margin-right: 3.04568%;}
.seven-col .five-col {width: 70.55837%;	margin-right: 3.04568%;}
.seven-col .six-col {width: 85.27918%; margin-right: 3.04568%;}
.seven-col .seven-col {width: 100%;	margin-right: 0;}
.six-col .one-col {width: 13.69047%;	margin-right: 3.57142%;}
.six-col .two-col {width: 30.95238%;	margin-right: 3.57142%;}
.six-col .three-col {width: 48.21428%;	margin-right: 3.57142%;}
.six-col .four-col {width: 65.47619%;	margin-right: 3.57142%;}
.six-col .five-col {width: 82.73809%;	margin-right: 3.57142%;}
.six-col .six-col {width: 100%; margin-right: 0;}
.five-col .one-col {width: 16.54676%;	margin-right: 4.31654%;}
.five-col .two-col {width: 37.41007%;	margin-right: 4.31654%;}
.five-col .three-col {width: 58.27338%;	margin-right: 4.31654%;}
.five-col .four-col {width: 79.13669%;	margin-right: 4.31654%;}
.five-col .five-col {width: 100%;	margin-right: 0;}
.four-col .one-col {width: 20.90909%;	margin-right: 5.45454%;}
.four-col .two-col {width: 47.27272%;	margin-right: 5.45454%;}
.four-col .three-col {width: 73.63636%;	margin-right: 5.45454%;}
.four-col .four-col {width: 100%;	margin-right: 0;}
.three-col .one-col {width: 28.39506%; margin-right: 7.4074%;}
.three-col .two-col {width: 64.19753%; margin-right: 7.4074%;}
.three-col .three-col {width: 100%;	margin-right: 0;}
.two-col .one-col {width: 44.23076%; margin-right: 11.53846%;}
.two-col .two-col {width: 100%;	margin-right: 0;}
.one-col .one-col {width: 100%;	margin-right: 0;} 
.sixteen-col .last-col {margin-right: 0;}
.fifteen-col .last-col {margin-right: 0;}
.fourteen-col .last-col {margin-right: 0;}
.thirteen-col .last-col {margin-right: 0;}
.twelve-col .last-col {margin-right: 0;}
.eleven-col .last-col {margin-right: 0;}
.ten-col .last-col {margin-right: 0;}
.nine-col .last-col {margin-right: 0;}
.eight-col .last-col {margin-right: 0;}
.seven-col .last-col {margin-right: 0;}
.six-col .last-col {margin-right: 0;}
.five-col .last-col {margin-right: 0;}
.four-col .last-col {margin-right: 0;}
.three-col .last-col {margin-right: 0;}
.two-col .last-col {margin-right: 0;}
.one-col .last-col {margin-right: 0;}
.clear {clear: both;}
.last-col {margin-right: 0;}
nav.sticky{ position: fixed; top: 0; margin-top: 0 !important; background: #0A2240; left: 3.5%; width: 12%; margin-left: .15%; }
 
/* nav.sticky ul.page-list li a {padding: 0; margin: 0;}

nav.sticky #nav, nav.sticky #nav li {padding: 0 6% 0 2%; width: 88%; display: block;}
nav.sticky #nav ul a {background: #0A2240;}
nav.sticky #nav li span {padding-right: 10px;} */
    

#content .alignleft {float:left; padding :.3em; margin: 0 1em .5em 0; background: #fff; border: 1px solid #ddd; width: 250px; }
#content .alignright {float:right; padding-left: 10px; width: 250px; }
#content .aligncenter { margin-left: auto; margin-right: auto; clear: both; text-align: center; }

.arrow { display:none;}
.active .arrow { display:block;}
em { font-style: italic;}
#content .title {display: block;  font-style: normal;}

em.title {font-style: normal;  text-transform: uppercase; letter-spacing: 1px; font-size: .75em; color: #aaa;}
.aside { font-size: 13px; 
  
background: #f7f7f7; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMTAwJSI+CiAgICA8c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjZjdmN2Y3IiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
background: -moz-linear-gradient(-45deg,  #f7f7f7 0%, #ffffff 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#f7f7f7), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(-45deg,  #f7f7f7 0%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(-45deg,  #f7f7f7 0%,#ffffff 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(-45deg,  #f7f7f7 0%,#ffffff 100%); /* IE10+ */
background: linear-gradient(135deg,  #f7f7f7 0%,#ffffff 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f7f7', endColorstr='#ffffff',GradientType=1 ); /* IE6-8 fallback on horizontal gradient */

  
   
}
.aside .sidebar-content {padding: 4%;}

.search-btn {font-size: 12px;}

@font-face {  
  font-family: socialico;  
  src: url( {{site.url}}/type/socialico/socialico.ttf ) format("truetype");  
}  

.search #content li { list-style: none; margin-bottom: 10px; padding-bottom: 10px; border-bottom: 1px solid #ccc; }
.search .no-search-results { margin-bottom: 20px; margin-top: 20px; font-style: italic; }

.more { display: none; }
p.readon { font-style: italic; font-weight: bold; display: block; clear: both; }