<div class="fixed contain-to-grid">

<nav class="top-bar">
  <ul>
    <li class="toggle-topbar"><a href="#"></a></li>
  </ul>
  <section>
    <ul class="">
    <li{% if page.url == "/index.html" %} class="active"{% endif %}><a href="{{ site.url }}">Home</a>
    <li{% if page.url == "/about/index.html" %} class="active"{% endif %}><a href="{{ site.url }}/about/">The Project</a>
  	<li{% if page.url == "/team/index.html" %} class="active"{% endif %}><a href="{{ site.url }}/team/">The Team</a>
  	<li{% if page.url == "/contact/index.html" %} class="active"{% endif %}><a href="{{ site.url }}/contact/">The Conversation</a>
  	<li{% if page.url == "/developer/" %} class="active"{% endif %}><a href="{{ site.url }}/developer/">Developers</a>
    
    </ul>

   
  </section>
</nav>

</div><!-- /fixed contain to grid -->

<!--
{% include widgets/search.html %}
-->
