<h3>Stay Connected:</h3>

<form action="http://localhost/post.php" accept-charset="UTF-8" method="post" id="webform-
client-form-153109" class="webform-client-form" enctype="multipart/form-data">

<label for="edit-submitted-first-name"><span>First Name: </span></label>
<input type="text" maxlength="128" name="submitted[first_name]" id="edit-submitted-first-name" size="60" value="" class="form-text required" />

<label for="edit-submitted-last-name"><span>Last Name: </span></label>
<input type="text" maxlength="128" name="submitted[last_name]" id="edit-submitted-last-name" size="60" value="" class="form-text required" />

<label for="edit-submitted-email"><span>Email: </span></label>
<input class="form-text form-email required email" type="email" id="edit-submitted-email" name="submitted[email]" size="60" />

<input type="checkbox" name="submitted[sign_up_for_email_updates_from_president_obama_and_other_senior_administration_officials][USEOPWH_10279]" id="edit-submitted-sign-up-for-email-updates-from-president-obama-and-other-senior-administration-officials-1" value="USEOPWH_10279"  checked="checked"  class="form-checkbox" style="display:none;"/>

<input type="hidden" name="details[sid]" id="edit-details-sid" value=""  />
<input type="hidden" name="details[page_num]" id="edit-details-page-num" value="1"  />
<input type="hidden" name="details[page_count]" id="edit-details-page-count" value="1"  />
<input type="hidden" name="details[finished]" id="edit-details-finished" value="0"  />
<input type="hidden" name="form_id" id="edit-webform-client-form-153109" value="webform_client_form_153109"  />
<input type="submit" name="op" id="edit-submit" value="Submit" class="form-submit" />

</form>