<!--
       _
      (_)
     <___>
      | |______
      | |* * * )
      | | * * (_________
      | |* * * |* *|####)
      | | * * *| * |   (________________
      | |* * * |* *|####|##############|
      | | * * *| * |    |              |
      | |* * * |* *|####|##############|
      | |~~~~~~| * |    |              |
      | |######|* *|####|##############|
      | |      |~~~'    |              |
      | |######|########|##############|
      | |      |        |              |
      | |######|########|##############|
      | |~~~~~~|        |              |
      | |      |########|##############|
      | |      '~~~~~~~~|              |
      | |               |##############|
      | |               '~~~~~~~~~~~~~~~
      | |
      | |
      | |

-->