<article id="post{{ page.id | replace:"/","-" }}" class="post post{{ page.id | replace:"/","-" }}">
	
	<h2 class="title"><a href="{{ site.url}}{{ page.url }}">{{ page.title }}</a></h2> 

	<div class="post-meta">
		<span class="entry-date">Posted on {{ page.date | date: '%B %d, %Y' }}</span> 
		<span class="entry-author">by {{ page.author }}</span>
	</div>
	    
    <div class="entrybody">
      {% if moreorless == "less" and page.content contains "<!-- more -->" %}
      		{% comment %}
      			Not ideal, but GH Pages is still on 2.2.0 which doesn't support split.
      			Once GH Pages updates to the latest version of Liquid, we can just use:
      			 `{{ page.content | split: "<!-- more -->" | first }}`
      		{% endcomment %}
    		{{ page.content | replace: '<!-- more -->', '<div class="more">' | append: "</div>" }}
    		<p class="readon"><a href="{{ page.url }}">Continue Reading &rarr;</a></p>
      {% else %}
	      	{{ page.content | markdownify }}
	  {% endif %}
    </div><!-- .entrybody -->
    
    <div class="post-taxonomies">
  		Posted in {% assign taxonomy = 'categories' %}{% include drop-ins/term-list-csv.html %} |
		Tagged {% assign taxonomy = 'tags' %}{% include drop-ins/term-list-csv.html %}		
    </div>
    
</article>